{
  "presets": [
    [
      "next/babel"
    ],
    [ "@emotion/babel-preset-css-prop" ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@config": "./config",
        "@themes": "./src/themes",
        "@core": "./src/core",
        "@components": "./src/components",
        "@public": "./public"
      }
    }],
    [ "@emotion/babel-plugin" ]
  ]
}
