{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    ["emotion", { "sourceMap": true }],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@themes": "./themes",
        "@core": "./core",
        "@components": "./components"
      }
    }]
  ]
}
