#!/bin/sh
# A very basic example for deployment with rsync.

DEPLOY_USER=deployer
DEPLOY_HOST=example.org
DEPLOY_PATH=/var/www/mysite.example.org/public_html

# Build the app
yarn build

# Rsync the thing
rsync -azP --exclude robots.txt --delete ./out/ ${DEPLOY_USER}@${DEPLOY_HOST}:${DEPLOY_PATH}
