@import '_fonts.scss';
@import '_normalize.scss';
@import '_mixins.responsive.scss';
@import '_variables.scss';

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
