@import '_fonts.scss';
@import '_normalize.scss';
@import '_mixins.responsive.scss';
@import '_variables.scss';

/*
@font-face {
  font-family: 'FiraSans';
  src: url('/static/fonts/FiraSans-Bold.ttf');
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}
*/

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
